<% content_for :title, @page.title %>
<main class="container mx-auto px-4 py-8">
  <%# Flash messages %>
  <%= render 'partials/flash' %>
  <%# Back to pages %>
  <%= link_to pages_path, class: 'inline-flex gap-1 items-center text-blue-600 hover:text-blue-700' do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
    </svg>
    <span>Back to pages</span>
  <% end %>
  <%# Page title %>
  <h1 class="text-4xl font-bold mt-4"><%= @page.title %></h1>
  <%# Base URL %>
  <div class="flex flex-wrap gap-4 items-center mt-4">
    <p class="flex items-center gap-1">
      <span>Status:</span>
      <%= render 'pages/status_badge', status: @page.status %>
    </p>
    <p>Total links: <strong><%= @page.links.count %></strong></p>
    <p class="flex gap-1 items-center w-full">
      <span class="shrink-0">Base URL:</span>
      <%= link_to @page.url, @page.url, title: @page.url, class: 'inline-block text-blue-600 hover:text-blue-700 max-w-2xl truncate overflow-auto', target: '_blank', rel: 'noopener noreferrer' %>
    </p>
  </div>
  <%# Links table %>
  <% if @page_links.any? %>
    <section class="mt-8">
      <div class="flex justify-between items-center gap-2">
        <h1 class="text-2xl font-bold">Sublinks</h1>
        <%== pagy_info(@pagy) %>
      </div>
      <div class="overflow-auto">
        <table class="rounded-lg overflow-hidden mt-4 w-full">
          <thead class="bg-gray-100 border-b">
            <tr class="text-gray-700">
              <th class="px-6 py-4 text-left text-sm font-medium">Title</th>
              <th class="px-6 py-4 text-left text-sm font-medium">URL</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% @page_links.each do |link| %>
              <tr class="hover:bg-gray-50 cursor-pointer text-gray-900">
                <td class="px-6 py-4 text-left text-sm font-medium">
                  <%= link.title %>
                </td>
                <td class="text-left text-sm font-medium">
                  <%= link_to link.url, link.url, title: link.url, class: 'inline-block px-6 py-4 text-blue-600 hover:text-blue-700 max-w-xl truncate', target: '_blank', rel: 'noopener noreferrer' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
  <% else %>
    <% if @page.processing? %>
      <p class="text-center my-10">Processing...</p>
    <% else %>
      <p class="text-center my-10">No links found. (Failed scrapping the page)</p>
    <% end %>
  <% end %>
  <%# Pagination %>
  <div class="mt-4 flex flex-wrap gap-2 justify-center items-center">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    <%== pagy_info(@pagy) %>
  </div>
</main>
